{%extends "pages/base.jinja"%}

{%block title%} 
    Flask Demo - Not found
{%endblock%}

{%block content%} 
<section id="hero">
    <h1>Flask and Supabase Demo</h1>
</section>


<sectionid id= "things">
{%for thing in things%}
    <article>
        <header>
            {{things["name"]}}
        </header>
            Cost ${{things["cost"]}}
        <footer>
            Delete
        </footer>
    # description and rating
    
    </article>


    {{thing[name]}}
{%endfor %}
</section>

<p>How are you today? I hope you're doing great!</p>
{%endblock%}