{%extends "pages/base.jinja"%}

{%block title%} 
    Flask Demo - Not found
{%endblock%}

{%block content%} 
<section id="hero">
    <h1>Flask and Supabase Demo</h1>
</section>


<sectionid id= "things">
{%for thing in things%}
    <article>
        <header>
            <h3>{{things["name"]}}</h3>
        </header>
           <p>Cost ${{things["cost"]}}</p> 
        <footer>
            Delete
        </footer>
    # description and rating
    
    </article>

{%for thing in things%}

    <article>
        <header>
        <h4>{{things["name"]}}</h4>
        </header>
        <p> #description</p>
        <footer>
        <a href= ""> More</a>

        <a href = "#"> Delete</a>
        </footer>
    
    
    
    
    
    </article>
    
{% endfor %}



    {{thing[name]}}
{%endfor %}
</section>

<p>How are you today? I hope you're doing great!</p>
{%endblock%}